#.env.local

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY={your public CLERK publishable key}
CLERK_SECRET_KEY={your CLERK secret key}
WEBHOOK_SECRET={your CLERK webhook secret}

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# MongoDB
MONGODB_URI={your MongoDB URI}

# Uploadthing
UPLOADTHING_TOKEN={your Uploadthing Token}

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY={your Stripe publishable key}
STRIPE_SECRET_KEY={your Stripe secret key}
STRIPE_WEBHOOK_SECRET={your Stripe webhook secret}

NEXT_PUBLIC_SERVER_URL={your Url}
